# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# MLflow local files
mlflow.db
mlruns/

# Model files
models/*.pkl

# DVC cache
.dvc/cache/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
